<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- API Key -->
    <key>chatGPTApiKey</key>
    <string>${ChatGPT_API_KEY}</string>

    <!-- 마이크 권한 -->
    <key>NSMicrophoneUsageDescription</key>
    <string>WOAI 앱에서 음성 인식을 위해 마이크를 사용합니다.</string>

    <!-- SwiftUI 전환 시 SceneManifest 제거해도 무방 -->
    <!-- 아래 삭제해도 무관 / SceneDelegate 안 쓸 경우 -->
</dict>
</plist>
